*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    flex-wrap: wrap;
    position: fixed;
    z-index: 10;
}


 
.primer-div{
    width: 250px;
    height: 100px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#menu{
    display: flex;
    gap: 30px;
    list-style: none;
    
}

#submenu{
    width: 250px;
    height: 300px;
    background: rgb(47, 16, 119);
    display: flex;
    justify-content: center;
     list-style: none;
    align-items: center;
    text-align: right;
    position: absolute;
    right: 0;
    margin-top: 250px;
    box-shadow: 0 0 0 100vmax rgb(0, 0,0, .5);
    z-index: 9;
    display: none;
}

.submenu a {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
}

.submenu{
    list-style: none;
    padding-top: 10px;
}
#abrir{
    font-size: 3rem;
    color: #ff0000;
    display: none;
}

#cerrar{
     font-size: 3rem;
    color: #ff0000;
    position: absolute;
    top: 10px;
    right: 0;
}

#cajon-menu{
    width: auto;
    height: auto;
}

.menu a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.menu:hover{
    transition: 0.5s;
    transform: scale(1.1);
    text-decoration: underline;
}

#primer-section{
    width: 100%;
    height: 95vh;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
#primer-section p{
  color: #ffffff;
}

.peros{
    width: 250px;
    height: 50px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgba(255, 0, 0, 0.807);
    text-decoration: none;
    color: #ffffff;
}

.peros:hover{
    background: #ff000093;
    transition: 0.2s;
}

#segundo-div{
    width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

#segundo-div h1{
     font-family: "Poppins", sans-serif;
  font-size: 3.1rem;
  font-weight: 400;
  color: #ffffff;
  padding-top: 60px;
  
}

.mayus {
  text-transform: none; 
  letter-spacing: -1px;
  font-weight: 700;
}

.mayus2 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: aliceblue;
  
}
#tercer-div{
    width: 550px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    text-align: justify;
    color: white;
}

#cajo-buton{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#imagen-viewport{
    width: 650px;
    height: 400px;
    display: flex;
    justify-content: end;
    position: relative;
}


.especial1{
    width: 600px;
    height: 450px;
    position: absolute;
    z-index: 1;
    top: 50px;
}


#segundo-section{
    width: 100%;
    height: 90vh;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div-section{
    width: 80%;
    height: 70vh;
    display: flex;

    gap: 10px;
}

#dems{
    width: 80%;
    height: 150px;
    display: flex;
}


#primer-aside{
    width: 80%;
    font-size: 2rem;
}

#primer-aside p{
    font-size: 1.4rem;
     font-family: "Poppins", sans-serif;
    padding-top: 20px;
}

h2{
    font-size: 3.5rem;
}
.button2{
    width: 250px;
    height: 50px;
    border-radius: 15px;
}

#cuarto-div{
    width: 1050px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#tercer-section{
    width: 100%;
    height: 130vh;
    background-image: url("../img/fondo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.div-section3{
    width: 600px;
    height: 90vh;
}

.div-section3 img{
   width: 580px;
   height: 500px;
}

.div-section3 h4{
    font-size: 3rem;
    color: white;
}
#padre-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 20px;
  
}
.but{
    width: 560px;
    height: 50px;
    background: red;
    border-radius: 20px;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.fa-solid {
    color: #ffffff;
    margin-left: 10px;
}
.but{
    width: 450px;
    text-decoration: none;
    color: white;
}

#button4{
    width: 400px;
    height: 50px;
    background: red;
}

#compu{
    display: flex;
    justify-content: center;
    align-items: center;
}
#compu2{
    height: 110vh;
}

#compu2 p{
    font-size: 1.6rem;
    line-height: 1.4;
    color: #ffffff;
}

#list li{
    color: white;
    font-size: 1.4rem;
    list-style: none;
    line-height: 1.5;
}

#aside-section{
    width: 90%;
      height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#cuarto-section{
    width: 100%;
    height: 120vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.section-aside{
    width: 550px;
    height: 550px;

}

#sexto-div1{
    width: 90%;
    height: 120vh;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgba(128, 128, 128, 0.304);
}

#aside-1{
    height: 80vh;
}
#aside-1 h3{
 font-size: 2.3rem;
 font-weight: 200;
}
#aside-1 p{
 font-size: 1.4rem;
 font-weight: 200;
 margin-top: 30px;
}

#quinto-div{
    width: 1090px;
    height: 450px;
    background: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.segundos-aside{
   width: 270px;
   height: 380px;
   background: blue;
}

.imagen{
    width: 100%;
    height: 160px;
    background: red;
}

#quinto-section{
    width: 100%;
    height: 120vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#sexto-div2{
    width: 95%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tercer-aside{
    width: 700px;
    height: 50vh;
}
#tercer-aside h3{
    font-size: 2.5rem;
    font-weight: 200;
}
#tercer-aside p{
 font-size: 1.4rem;
 margin-top: 30px;
}
.nid{
    width: 350px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgb(184, 23, 23);
    margin-top: 30px;
    text-decoration: none;
    color: #ffffff;
}

#cuarto-aside{
  width: 650px;
  height: 450px;
}

#cuarto-aside img{
    width: 600px;
    height: 400px;
}
#septimo-section{
width: 100%;
height: 95vh;
background-image: url("../img/fondo2.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}


#aside-septimo{
    width: 80%;
    height: 80vh;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
}
#aside-septimo h5{
    font-size: 4rem;
}
#aside-septimo h3{
    font-size: 2.5rem;
}
#aside-septimo p{
    font-size: 1.4rem;
    margin-top: 25px;
}
.nd{
    width: 300px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    margin-top: 30px;
    text-decoration: none;
    margin: auto;

    color: #ff0000;
}
#conta{
    color: #ff0000;
}
#cualquiera{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    gap: 20px;
}
#cualquiera p{
    color: #ffffff;
    font-size: 1.5rem;

}
.ni{
    width: 600px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgba(255, 0, 0, 0.807);
    text-decoration: none;
    color: #ffffff;
}
#sexto-section{
    width: 100%;
    height: 50vh;
    background: rgba(232, 232, 225, 0.542);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Container{
    width: 80%;
    height: 40vh;
   text-align: center;
   font-weight: 100;
}
#Container h4{
    font-size: 3.7rem;
}

#Container p{
    font-size: 2rem;
}

footer{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #000000;
}
#claro {
    width: 90%;
    height: 50vh;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
#finals{
    width: 300px;
    height: 50px;

}
.infe{
    width: 225px;
    height: 45px;
}
.email{
    text-decoration: none;
    font-size: 1.5rem;

}

#primer-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer aside{
    width: 350px;
    height: 300px;
    font-size: 1.5rem;
}

#larg{
    width: 400px;
}

.footer-text{
 line-height: 1.3;
}

.s a{
 color: black;
}

.s .fa-solid {
  color: #000000;
  margin-top: 10px;
}

#larg li{
    list-style: none;
    line-height: 1.7;
}

footer small{
    font-size: 1.2rem;
}

#final-footer{
 width: 100%;
 height: 8vh;
 background: black;
 color: #ffffff;
 font-size: 1.3rem;
 display: flex;
 justify-content: center;
 align-items: center;

}


@media (min-width:769px) and (max-width:1023px){
    header{
        position:static;
        width: auto;
        height: 13vh;
        flex-wrap: wrap;
    }
    #primer-section{
        height: 100vh;
        justify-content: center;
        gap: 1px;
    }
  
    #imagen-viewport{
    justify-content: center;
    align-items: center;
    }
    .especial1{
        width: 90%;
        height: auto;
        position: static;

    }
    h2{
        font-size: 2.5rem;
    }
    #primer-aside p{
        font-size: 1.9rem;
    }
    .but{
        width: 400px;
    }
    #compu{
        height: auto;
    }
    #compu2{
        height: auto;
    }
    #aside-1{
        height: auto;
        order: 2;
    }
    #cualquiera{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        height: auto;
        gap: 60px;
        align-items: center;
        justify-content: center;
        
    }
    #primer-footer{
        height: auto;
    }
  
}

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    flex-wrap: wrap;
    position: fixed;
    z-index: 10;
}
 
 
.primer-div{
    width: 250px;
    height: 100px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#menu{
    display: flex;
    gap: 30px;
    list-style: none;
    
}

#submenu{
    width: 250px;
    height: 300px;
    background: rgb(47, 16, 119);
    display: flex;
    justify-content: center;
     list-style: none;
    align-items: center;
    text-align: right;
    position: absolute;
    right: 0;
    margin-top: 250px;
    box-shadow: 0 0 0 100vmax rgb(0, 0,0, .5);
    z-index: 9;
    display: none;
}

.submenu a {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
}

.submenu{
    list-style: none;
    padding-top: 10px;
}
#abrir{
    font-size: 3rem;
    color: #ff0000;
    display: none;
}

#cerrar{
     font-size: 3rem;
    color: #ff0000;
    position: absolute;
    top: 10px;
    right: 0;
}

#cajon-menu{
    width: auto;
    height: auto;
}

.menu a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.menu:hover{
    transition: 0.5s;
    transform: scale(1.1);
    text-decoration: underline;
}

#primer-section{
    width: 100%;
    height: 95vh;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
#primer-section p{
  color: #ffffff;
}

.peros{
    width: 250px;
    height: 50px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgba(255, 0, 0, 0.807);
    text-decoration: none;
    color: #ffffff;
}

.peros:hover{
    background: #ff000093;
    transition: 0.2s;
}

#segundo-div{
    width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

#segundo-div h1{
     font-family: "Poppins", sans-serif;
  font-size: 3.1rem;
  font-weight: 400;
  color: #ffffff;
  padding-top: 60px;
  
}

.mayus {
  text-transform: none; 
  letter-spacing: -1px;
  font-weight: 700;
}

.mayus2 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: aliceblue;
  
}
#tercer-div{
    width: 550px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    text-align: justify;
    color: white;
}

#cajo-buton{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#imagen-viewport{
    width: 650px;
    height: 400px;
    display: flex;
    justify-content: end;
    position: relative;
}


.especial1{
    width: 600px;
    height: 450px;
    position: absolute;
    z-index: 1;
    top: 150px;
}


#segundo-section{
    width: 100%;
    height: 90vh;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div-section{
    width: 80%;
    height: 70vh;
    display: flex;

    gap: 10px;
}

#dems{
    width: 80%;
    height: 150px;
    display: flex;
}


#primer-aside{
    width: 80%;
    font-size: 2rem;
}

#primer-aside p{
    font-size: 1.4rem;
     font-family: "Poppins", sans-serif;
    padding-top: 20px;
}

h2{
    font-size: 3.5rem;
}
.button2{
    width: 250px;
    height: 50px;
    border-radius: 15px;
}

#cuarto-div{
    width: 1050px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#tercer-section{
    width: 100%;
    height: 130vh;
    background-image: url("../img/fondo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.div-section3{
    width: 600px;
    height: 90vh;
}

.div-section3 img{
   width: 580px;
   height: 500px;
}

.div-section3 h4{
    font-size: 3rem;
    color: white;
}
#padre-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 20px;
  
}
.but{
    width: 560px;
    height: 50px;
    background: red;
    border-radius: 20px;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.fa-solid {
    color: #ffffff;
    margin-left: 10px;
}
.but{
    width: 450px;
    text-decoration: none;
    color: white;
}

#button4{
    width: 400px;
    height: 50px;
    background: red;
}

#compu{
    display: flex;
    justify-content: center;
    align-items: center;
}
#compu2{
    height: 110vh;
}

#compu2 p{
    font-size: 1.6rem;
    line-height: 1.4;
    color: #ffffff;
}

#list li{
    color: white;
    font-size: 1.4rem;
    list-style: none;
    line-height: 1.5;
}

#aside-section{
    width: 90%;
      height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#cuarto-section{
    width: 100%;
    height: 120vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.section-aside{
    width: 550px;
    height: 550px;

}

#sexto-div1{
    width: 90%;
    height: 120vh;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgba(128, 128, 128, 0.304);
}

#aside-1{
    height: 80vh;
}
#aside-1 h3{
 font-size: 2.3rem;
 font-weight: 200;
}
#aside-1 p{
 font-size: 1.4rem;
 font-weight: 200;
 margin-top: 30px;
}

#quinto-div{
    width: 1090px;
    height: 450px;
    background: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.segundos-aside{
   width: 270px;
   height: 380px;
   background: blue;
}

.imagen{
    width: 100%;
    height: 160px;
    background: red;
}

#quinto-section{
    width: 100%;
    height: 120vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#sexto-div2{
    width: 95%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tercer-aside{
    width: 700px;
    height: 50vh;
}
#tercer-aside h3{
    font-size: 2.5rem;
    font-weight: 200;
}
#tercer-aside p{
 font-size: 1.4rem;
 margin-top: 30px;
}
.nid{
    width: 350px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgb(184, 23, 23);
    margin-top: 30px;
    text-decoration: none;
    color: #ffffff;
}

#cuarto-aside{
  width: 650px;
  height: 450px;
}

#cuarto-aside img{
    width: 600px;
    height: 400px;
}
#septimo-section{
width: 100%;
height: 95vh;
background-image: url("../img/fondo2.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}


#aside-septimo{
    width: 80%;
    height: 80vh;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
}
#aside-septimo h5{
    font-size: 4rem;
}
#aside-septimo h3{
    font-size: 2.5rem;
}
#aside-septimo p{
    font-size: 1.4rem;
    margin-top: 25px;
}
.nd{
    width: 300px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    margin-top: 30px;
    text-decoration: none;
    margin: auto;

    color: #ff0000;
}
#conta{
    color: #ff0000;
}
#cualquiera{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    gap: 20px;
}
#cualquiera p{
    color: #ffffff;
    font-size: 1.5rem;

}
.ni{
    width: 600px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: rgba(255, 0, 0, 0.807);
    text-decoration: none;
    color: #ffffff;
}
#sexto-section{
    width: 100%;
    height: 50vh;
    background: rgba(232, 232, 225, 0.542);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Container{
    width: 80%;
    height: 40vh;
   text-align: center;
   font-weight: 100;
}
#Container h4{
    font-size: 3.7rem;
}

#Container p{
    font-size: 2rem;
}

footer{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #000000;
}
#claro {
    width: 90%;
    height: 50vh;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
#finals{
    width: 300px;
    height: 50px;

}
.infe{
    width: 225px;
    height: 45px;
}
.email{
    text-decoration: none;
    font-size: 1.5rem;

}

#primer-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer aside{
    width: 350px;
    height: 300px;
    font-size: 1.5rem;
}

#larg{
    width: 400px;
}

.footer-text{
 line-height: 1.3;
}

.s a{
 color: black;
}

.s .fa-solid {
  color: #000000;
  margin-top: 10px;
}

#larg li{
    list-style: none;
    line-height: 1.7;
}

footer small{
    font-size: 1.2rem;
}

#final-footer{
 width: 100%;
 height: 8vh;
 background: black;
 color: #ffffff;
 font-size: 1.3rem;
 display: flex;
 justify-content: center;
 align-items: center;

}

@media (min-width:1024px){
  #primer-section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2rem;

  }
  #imagen-viewport{
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .especial1{
    width: auto;
    height: 100%;

    
  }
  #segundo-section{
    height: auto;
    padding: 2rem;
    gap: 20px;
    text-align: justify;
  }
  #dems{
    margin-top: 20px;
  }

  #tercer-section{
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 1.3rem;
    
  }
  #compu2{
    height: auto;
  }
  #compu2 p{
    text-align: justify;
  }
  .but{
    width: auto;
    margin-top: 1rem;
  }
  #cuarto-section{
    height: auto;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
  }
  .peros{
    margin-top: 20px;
  }
  .section-aside{
    height: auto;
  }
  #aside-1{
    height: auto;
  }
  #quinto-section{
   
    height: auto;
     flex-wrap: nowrap;
    padding: 1.5rem;
  }
  #tercer-aside{
    height: auto;
  }

  #aside-septimo p{
    text-align: justify;
  }
  
  .nd{
    margin-top: 40px;
  }
  #septimo-section{
    height: auto;
    padding: 5rem;
  }
  #aside-septimo{
    height: auto;
  }
}

@media (min-width:769px) and (max-width:1023px){
    header{
        position:static;
        width: auto;
        height: 13vh;
        flex-wrap: wrap;
    }
    #primer-section{
        height: 100vh;
        justify-content: center;
        gap: 1px;
    }
    #cuarto-section{
        flex-direction: column;
    }
    .peros{
        margin-top: 25px;
    }
  
    #imagen-viewport{
    justify-content: center;
    align-items: center;
    }
    .especial1{
        width: 90%;
        height: auto;
        position: static;

    }
    h2{
        font-size: 2.5rem;
    }
    #primer-aside p{
        font-size: 1.9rem;
    }
    .but{
        margin-top: 20px;
    }
    #compu{
        height: auto;
    }
    #compu2{
        height: auto;
    }
    #aside-1{
        height: auto;
        order: 2;
    }
    #cualquiera{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        height: auto;
        gap: 60px;
        align-items: center;
        justify-content: center;
        
    }
    #primer-footer{
        height: auto;
    }
  
}

@media (max-width:769px){
      header{
        position:static;
        width: auto;
        height: 13vh;
        justify-content: space-around;
    }

    #menu{
        display: none;
    }

    #abrir{
        font-size: 3rem;
        display: block;
        color: red;
    }

    #primer-section{
        height: auto;
        justify-content: center;
       flex-wrap: wrap;
        padding: 1rem;

    }
    #segundo-div h1{
         font-size: 2rem;

    }
   #cuarto-aside img{
   width: 100%;
   height: 100%;
   }
    #segundo-div{
        height: auto;
        padding: 1rem;

    }
    #segundo-section{
        height: auto;
        font-size: 1.2rem;
        padding: 1rem;
        gap: 10px;
    }
    #segundo-section h3{
        font-size: 1.8rem;
    }
    #tercer-section{
        height: auto;
        padding: 1.3rem;
    }
    #dems{

        height: auto;
    }
    #aside-septimo p{
        text-align: justify;
    }
    #quinto-section{
        height: auto;
        padding: 1rem;
    }
    #cuarto-aside{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #cuarto-section{
     height: auto;
     text-align: justify;
     padding: 1rem;
    }

    #imagen-viewport{
        width: auto;
    justify-content: center;
    align-items: center;
  
    }
    .especial1{
        width: auto;
        height: 200px;
        position: relative;
        top: 0;
    }
    #cajo-buton{
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
    }
    .nd{
        width: 200px;
        margin-top: 20px;
        font-size: 1.2rem;
    }
    .peros{
        width: 250px;
        margin-top: 20px;
        padding: 0.5rem;
    }
    h2{
        font-size: 2.5rem;
    }
    #primer-aside p{
        font-size: 1.3rem;
    }
    #tercer-aside{
        height: auto;
        flex-direction: column;
        padding: 1rem;
    }
     body p{
        text-align: justify;
     }
    #aside-septimo{
        height: auto;
    }
    #aside-septimo h3{
        font-size: 2rem;
    }
    #septimo-section{
        height: auto;
        padding: 2rem;
    }
    .but{
        width: 290px;
        font-size: 1.3rem;
        margin-top: 20px;
    }
    .ni{
        width: auto;
        font-size: 1rem;
    }

    #compu{
        width: auto;
        height: auto;
    }
    #compu2{
        width: 100%;
        height: auto;
    }
    #button4{
        width: 310px;
        font-size: 1.2rem;
    }
    .div-section3{
        height: auto;
    }
  
    .div-section3 img {
       width: 99%;
       height: auto;
    }
    .section-aside{
        width: 100%;
        height: auto;
    }

    #cuarto-aside{
        width: 100%;
        height: auto;
    }
  
    #larg{
        padding: 1rem;
        height: auto;
    }
    #aside-1{
        height: auto;
        order: 2;
        border-bottom: 1px solid gray;
        padding: 1rem;
    }
    #cualquiera{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    footer{
        flex-direction: column;
        height: auto;
        gap: 25px;
        align-items: center;
        
    }
    #primer-footer{
        height: auto;
    }
}
